[Desktop Entry]
Type=Application
Version=1.0
Name=Tezeusz
GenericName=Media Discovery
Comment=Discover, request and download movies and TV shows
Exec=tezeusz
Icon=tezeusz
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
StartupWMClass=tezeusz
Keywords=movies;tv;torrent;tezeusz;jellyseerr;
